<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3" style="width: 80rem">
    <div class="card-header">
      <h6 class="d-inline">Comment</h6>
      <p class="d-inline float-end">{{format_date date_created}}
        Comment by:
        {{User.username}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{content}}</p>
      {{#checkUserComments userPosts user_id}}{{/checkUserComments}}
    </div>
  </div>
</div>