<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3" style="width: 70rem">
    <div class="m-3">
      <h5 for="exampleFormControlTextarea1" class="form-label">
        Post a comment!
      </h5>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
      <button type="submit" class="btn btn-primary m-3">Submit</button>
    </div>
  </div>
</div>