<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3" style="width: 80rem">
    <div class="card-header">
      <h5 class="d-inline">{{title}}</h5>
      <p class="d-inline float-end">Date posted:
        {{format_date date_created}}
        By user:
        {{User.username}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{content}}</p>
      <a href="#" class="btn btn-primary">comment</a>
    </div>
  </div>
</div>