<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3" style="width: 80rem">
    <div class="card-header">
      <h5 class="d-inline">Username</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Text</p>
    </div>
  </div>
</div>