<div class="d-flex align-items-center justify-content-center">
  <h2>MY POSTS</h2>
</div>
{{#each userPosts as |userPost|}}
{{>oldUserPost}}
{{/each}}
<div class="d-flex align-items-center justify-content-center">
  <button type="submit" class="btn btn-primary">Submit a new post</button>
</div>