<div class="d-flex align-items-center justify-content-center flex-wrap">
  <img
    id="bunny-image"
    src="/images/rabbit-gd0e331f24_1280.png"
    alt="rainbow-bunny"
  />
  <div class="card m-3" style="width: 80rem">
    <div class="card-header post">
      <h5 class="d-inline">Thanks for visting!</h5>
    </div>
    <div class="card-body">
      <a href="/login" class="card-link">Click here to login again!</a>
    </div>
  </div>
</div>