<div class="d-flex align-items-center justify-content-center flex-wrap">
  <img src="../public/images/blogging.png" class="m-3 card" alt="Laptop" />
  <div class="card m-3" style="width: 80rem">
    <div class="card-header">
      <h5 class="d-inline">Welcome!</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        Techblog is blog site where you can publish articles, blog posts, and
        thoughts and opinions tech related.
      </p>
      <a href="#" class="card-link">Click here to login!</a>
      <a href="#" class="card-link float-end">Click here to sign up!</a>
    </div>
  </div>
</div>