    <div class="d-flex align-items-center justify-content-center">
      <div class="card m-3" style="width: 30rem;">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="userEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">

            <div class="mb-3">
              <label for="userPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="userPassword">
            </div>

            <button type="submit" id="login-button" class="btn btn-primary">Submit</button>
            <a href="./signup" class="card-link float-end">Click here to sign up!</a>
          </form>
        </div>
      </div>
    </div>

<script src="/javascript/login.js"></script>