<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3" style="width: 80rem">
    <div class="card-header text-bg-info">
      <h5 class="d-inline">{{userPosts.title}}</h5>
      <p class="d-inline float-end">Date posted:
        {{format_date userPosts.date_created}}
        By user:
        {{userPosts.User.username}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{userPosts.content}}</p>
      {{! -- Checks if the post belongs to the logged in user to display additional options }}
     {{#checkUserPosts userPosts logged_user_id}}
     {{/checkUserPosts}}
    </div>

  </div>
</div>
{{! -- Renders all comments belonging to the post }}
{{#each userPosts.Comments as |comment|}}
{{! -- "=../" Allows comments to have access to userPosts properties}}
{{>comment logged_user_id=../logged_user_id}}
{{/each}}
<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3" style="width: 70rem">
    <div class="m-3">
      <h5 for="exampleFormControlTextarea1" class="form-label">
        Post a comment!
      </h5>
      <textarea
        class="form-control"
        id="form-text"
        rows="3"
      ></textarea>
      <button type="submit" id="submit-comment-btn"class="btn btn-primary m-3">Submit</button>
    </div>
  </div>
</div>
<script src="/javascript/newComment.js"></script>
<script src="/javascript/deletePost.js"></script>