    <div class="d-flex align-items-center justify-content-center">
      <div class="card m-3" style="width: 30rem;">
        <div class="card-header">
          Sign up form
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Enter your email address</label>
              <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Enter a password</label>
              <input type="password" class="form-control" id="InputPassword">
            </div>
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Create a username</label>
              <input type="username" class="form-control" id="inputUsername">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>