body {
  background-image: url("../images/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg");
}

.navbar-nav {
  border-color: rgb(214, 98, 135);
}

.post {
  background-color: rgb(255, 205, 222);
}

.comment {
  background-color: rgb(249, 229, 236);
}

.card {
  border-color: rgb(255, 171, 197);
  border-width: 3px;
  border-radius: 8px;
}

.btn {
  background-color: rgb(254, 182, 206);
  border-color: rgb(252, 168, 196);
}

.btn:hover {
  background-color: rgb(253, 140, 178);
  border-color: rgb(252, 168, 196);
}

.no-button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
}

#tech-icon {
  max-height: 60px;
}

#bunny-image {
  max-height: 200px;
}
